<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:extractNativeLibs="true"
        tools:replace="android:extractNativeLibs"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/server_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/server_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZephyrDroneAndroidServer">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ZephyrDroneAndroidServer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.dji.sdk.API_KEY"
            android:value="fae1562a6e87a32c69ff1850" />
    </application>

</manifest>
